services:
  PizzaService:
    image: "${CONTAINER_REGISTRY:-}pizza-service:${IMAGE_TAG:-latest}"
    build:
      context: .
      dockerfile: backend/Deployables/PizzaService.AspNetCore/Dockerfile
      args:
        - BUILD_VERSION=${BUILD_VERSION:-0.1.0-alpha-1}
        - BUILD_DATE=${BUILD_DATE:-1970-01-01T00:00:00Z}
        - GIT_SHA=${GIT_SHA:-0000000000000000000000000000000000000000}
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Swagger__Enabled=True
      - PizzaDbContext__Connection=Host=PizzaDb;Database=pizza_ordering;Username=postgres;Password=postgres
      - AllowedHosts=http://localhost:5174
    depends_on:
      PizzaDb:
        condition: service_healthy
      PizzaDbMigrations:
        condition: service_completed_successfully
  
  PizzaApp:
    image: "${CONTAINER_REGISTRY:-}pizza-app:${IMAGE_TAG:-latest}"
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "5174:80"
    environment:
      - CONFIG_PIZZA_API_URL=http://localhost:5000

  PizzaDb:
    image: postgres:16.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pizza_ordering
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: "psql -U postgres -d postgres -c 'SELECT 1' || exit 1"
      interval: 3s
      timeout: 2s
      retries: 5
      start_period: 2s
  
  PizzaDbMigrations:
    image: "${CONTAINER_REGISTRY:-}pizza-db-migrations:${IMAGE_TAG:-latest}"
    build:
      context: .
      dockerfile: backend/Infrastructure/POS.Persistence.PostgreSql.DbMigrations/Dockerfile
      args:
        - BUILD_VERSION=${BUILD_VERSION:-0.1.0-alpha-1}
        - BUILD_DATE=${BUILD_DATE:-1970-01-01T00:00:00Z}
        - GIT_SHA=${GIT_SHA:-0000000000000000000000000000000000000000}
    environment:
      - CONNECTION_STRING=Host=PizzaDb;Database=pizza_ordering;Username=postgres;Password=postgres
    depends_on:
      PizzaDb:
        condition: service_healthy
  
  PizzaDbSeed:
    image: "${CONTAINER_REGISTRY:-}pizza-db-seed:${IMAGE_TAG:-latest}"
    build:
      context: .
      dockerfile: backend/Infrastructure/POS.Persistence.DbSeed/Dockerfile
      args:
        - BUILD_VERSION=${BUILD_VERSION:-0.1.0-alpha-1}
        - BUILD_DATE=${BUILD_DATE:-1970-01-01T00:00:00Z}
        - GIT_SHA=${GIT_SHA:-0000000000000000000000000000000000000000}
    environment:
      - CONNECTION_STRING=Host=PizzaDb;Database=pizza_ordering;Username=postgres;Password=postgres
    depends_on:
      PizzaDbMigrations:
        condition: service_completed_successfully

  pgweb:
    image: sosedoff/pgweb:0.15.0
    ports:
      - "5001:8081"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@PizzaDb:5432/pizza_ordering?sslmode=disable
    depends_on:
      PizzaDb:
        condition: service_healthy

volumes:
  postgres_data:
