name: Build and publish dockerfile

on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
      docker_build_context:
        required: true
        type: string
      target_image_tag:
        required: true
        type: string
      trivy_severity:
        required: false
        type: string
        default: 'CRITICAL,HIGH'

jobs:
  build-and-publish-docker-image:
    name: Build and publish dockerfile
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps: 
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    
    - name: Install minver CLI
      run: dotnet tool install --tool-path ./minver minver-cli --version 4.3.0
    
    - name: Calculate version using minver CLI
      id: version
      run: |
          echo "version=$(./minver/minver --default-pre-release-identifiers alpha --tag-prefix v)" >> "$GITHUB_ENV"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build \
          --build-arg BUILD_VERSION=${{ env.version }} \
          --build-arg BUILD_DATE=$( date -u +"%Y-%m-%dT%H:%M:%SZ" ) \
          --build-arg GIT_SHA=${{ github.sha }} \
          -t ghcr.io/${{ github.repository }}/${{ inputs.target_image_tag }} \
          -f ${{ inputs.dockerfile }} \
          ${{ inputs.docker_build_context }}

    - name: Prepare artifact name
      id: artifact-name
      run: |
        IMAGE_NAME=$(echo "${{ inputs.target_image_tag }}" | cut -d':' -f1 | tr '/' '_')
        echo "name=trivy-image-results-${IMAGE_NAME}" >> "$GITHUB_OUTPUT"

    - name: Run Trivy vulnerability scanner on image (sarif output)
      uses: aquasecurity/trivy-action@0.28.0
      if: always()
      with:
        image-ref: ghcr.io/${{ github.repository }}/${{ inputs.target_image_tag }}
        format: 'sarif'
        output: 'trivy-image-results.sarif'

    - name: Run Trivy vulnerability scanner on image (table output)
      uses: aquasecurity/trivy-action@0.28.0
      if: always()
      with:
        image-ref: ghcr.io/${{ github.repository }}/${{ inputs.target_image_tag }}
        format: 'table'
        severity: 'CRITICAL,HIGH'
        exit-code: '1'

    - name: Upload Trivy scan results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ steps.artifact-name.outputs.name }}
        path: trivy-image-results.sarif

    - name: Push Docker image
      run: docker push ghcr.io/${{ github.repository }}/${{ inputs.target_image_tag }}
