name: Pull Request master

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  backend-tests:
    name: Backend unit and integration tests
    uses: ./.github/workflows/_backend-tests.yaml
  
  frontend-tests:
    name: Frontend tests
    uses: ./.github/workflows/_frontend-tests.yaml

  helm-unit-tests:
    name: Helm unit tests
    uses: ./.github/workflows/_helm-unit-tests.yaml
  
  build-pizza-service-image:
    name: Build PizzaService
    uses: ./.github/workflows/_build-and-publish-dockerfile.yaml
    with:
      dockerfile:           ./src/backend/Deployables/PizzaService.AspNetCore/Dockerfile
      docker_build_context: ./src
      target_image_tag:     pizza-service:pr-${{ github.sha }}
    secrets: inherit  
  
  build-pizza-service-aws-image:
    name: Build PizzaService (Aws)
    uses: ./.github/workflows/_build-and-publish-dockerfile.yaml
    with:
      dockerfile:           ./src/backend/Deployables/PizzaService.Aws/Dockerfile
      docker_build_context: ./src
      target_image_tag:     pizza-service-aws:pr-${{ github.sha }}
    secrets: inherit

  build-pizza-app-image:
    name: Build PizzaApp
    uses: ./.github/workflows/_build-and-publish-dockerfile.yaml
    with:
      dockerfile:           ./src/frontend/Dockerfile
      docker_build_context: ./src/frontend
      target_image_tag:     pizza-app:pr-${{ github.sha }}
    secrets: inherit
  
  build-pizza-db-migrations-image:
    name: Build Pizza DbMigrations
    uses: ./.github/workflows/_build-and-publish-dockerfile.yaml
    with:
      dockerfile:           ./src/backend/Infrastructure/POS.Persistence.PostgreSql.DbMigrations/Dockerfile
      docker_build_context: ./src
      target_image_tag:     pizza-db-migrations:pr-${{ github.sha }}
    secrets: inherit
  
  build-pizza-db-seed-image:
    name: Build Pizza DbSeed
    uses: ./.github/workflows/_build-and-publish-dockerfile.yaml
    with:
      dockerfile:           ./src/backend/Infrastructure/POS.Persistence.DbSeed/Dockerfile
      docker_build_context: ./src
      target_image_tag:     pizza-db-seed:pr-${{ github.sha }}
    secrets: inherit
  
  docker-integration-tests:
    name: Docker integration tests
    needs: 
      - build-pizza-service-image
      - build-pizza-db-migrations-image
      - build-pizza-db-seed-image
    uses: ./.github/workflows/_docker-integration-tests.yaml
    with:
      image-tag: pr-${{ github.sha }}
    secrets: inherit

  helm-integration-tests:
    name: Helm integration tests
    needs:
      - build-pizza-service-image
      - build-pizza-app-image
      - build-pizza-db-migrations-image
      - build-pizza-db-seed-image      
    uses: ./.github/workflows/_helm-integration-tests.yaml
    with:
      image-tag: pr-${{ github.sha }}
    secrets: inherit

  aws-integration-tests:
    name: Aws integration tests
    uses: ./.github/workflows/_aws-integration-tests.yaml
    with:
      env: dev
    secrets: inherit